# Ignore compiled Python files
settings.cpython-39.pyc

# Ignore virtual environment directories
venv/
env/
__pycache__/
txtFiles/

# Ignore log files
*.log

# Ignore database files
db.sqlite3
secret_key.txt
*.csv