# Ignore compiled Python files
settings.cpython-39.pyc
*.pyc

# Ignore virtual environment directories
venv/
env/
__pycache__/
txtFiles/
pmdb_analysis/
staticfiles/
# Ignore log files
*.log

# Ignore database files
*.sqlite3
secret_key.txt
*.csv
*.ipynb
csvFiles/templates/testing_history.html
*testing*
.env
